html {
  /*
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
  */
}
/*
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
*/
/*
a:not([href]) {
  background-color: #f00;
}
*/
.tablemenu span {
  padding: 0;
  margin: 0;
  width: 30px;
  text-decoration: center;
  cursor: pointer;
  display: inline-block;
}
.centering {
  float: none;
  margin: 0 auto;
}
.90_percent {
  max-width: 90%;
}
.modal-dialog {
  width: 90%;
  height: 90%;
}
table table tr {background: #eee;}
table tbody:hover {}

/***********************************************/
.huge {
  font-size: 2em;
}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sortable:hover {
  background-color: #ddd;
  cursor: pointer;
}
.icon-invisible {
  visibility: hidden;
}
.menuitem {
  margin-top: 1.25em;
}
.datalist a {
  color: #333;
  text-decoration: none;
}
.datalist .success a  {
  color: #337ab7;
  cursor: pointer;
}
