    <div id="pagequestion" class="tab-pane">
      <!-- Header -->
      <div class="row bg-primary">
        <h2 class="col-sm-3">Question</h2>
        <div class="col-sm-5">
          <!-- Menu Buttons -->
          <span>
            <button type="button" class="btn btn-success menuitem" ng-click="open('modalNewQuestion.html', 'create_question', {})">
              <span class="visible-lg"><i class="fa fa-plus"></i> New Question</span>
              <span class="visible-md"><i class="fa fa-plus"></i> Question</span>
              <span class="visible-xs visible-sm"><i class="fa fa-plus"></i> Quest.</span>
            </button>
            <button type="button" class="btn btn-success menuitem" ng-disabled="(!actSelection || actSelection.ElementType != 'Q' || actSelection.state.id != 1)" ng-click="open('modalAnswer.html', 'create_answer', actSelection)">
              <span class="visible-lg"><i class="fa fa-plus"></i> New Answer</span>
              <span class="visible-md"><i class="fa fa-plus"></i> Answer</span>
              <span class="visible-xs visible-sm"><i class="fa fa-plus"></i> Answ.</span>
            </button>
            <!-- Button to Export all Questions to homepage -->
            <button type="button" class="btn btn-default menuitem" ng-disabled="(!questions || !actSelection || actSelection.ElementType != 'Q')" ng-click="open('modalExportQuestions.html', '', actSelection)">
              <i class="fa fa-download"></i> Export/Preview
            </button>			
          </span>
        </div>
        <div class="col-sm-4">
          <input type="text" ng-model="filtertext_qu" class="form-control pull-right menuitem" style="width:200px;" placeholder="filter">
        </div>
      </div>
      <br/>
      <!-- Table -->
      <table class="table datalist">
        <thead>
          <tr>
            <th style="min-width: 115px;">&nbsp;</th>
            <th style="min-width: 50px;" class="sortable" ng-click="order_q(ID)">ID<span class="sortorder" ng-show="predicate_q === ID" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable" ng-click="order_q('Topic')">Topic<span class="sortorder" ng-show="predicate_q === 'Topic'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable" ng-click="order_q('Question')">Question<span class="sortorder" ng-show="predicate_q === 'Question'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable visible-lg" ng-click="order_q('owner')">Owner<span class="sortorder" ng-show="predicate_q === 'owner'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable visible-lg visible-md" ng-click="order_q('Language')">Language<span class="sortorder" ng-show="predicate_q === 'Language'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable visible-lg visible-md" ng-click="order_q('Version')"  style="width: 50px; text-align: center;" >Version<span class="sortorder" ng-show="predicate_q === 'Version'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable visible-lg" ng-click="order_q('ExtID')">Ext.ID<span class="sortorder" ng-show="predicate_q === 'ExtID'" ng-class="{reverse:reverse_q}"></span></th>
            <th class="sortable" ng-click="order_q('Type')">Type<span class="sortorder" ng-show="predicate_q === 'Type'" ng-class="{reverse:reverse_q}"></span></th>
            <th style="width: 90px;" class="sortable" ng-click="order_q('State')">State<span class="sortorder" ng-show="predicate_q === 'State'" ng-class="{reverse:reverse_q}"></span></th>
          </tr>
        </thead>
        <tbody ng-repeat="q in questions | filter:filtertext_qu | orderBy:predicate_q:reverse_q">
          <tr ng-click="setSelection(q)"
            ng-class="{'seltbl': q.ID === actSelection.ID, 'success': q.state.id == 1,
              'danger': q.state.id == 4, 'warning': q.state.id == 2, 'info': q.state.id == 3}">
            <td class="tablemenu">
              <!-- Tickmark -->
              <span title="Select Question">
                <i ng-class="{'fa fa-fw fa-check-square-o': (q.ID === actSelection.ID && actSelection.ElementType == 'Q'),
                'fa fa-fw fa-square-o': !(q.ID === actSelection.ID && actSelection.ElementType == 'Q')}"></i>
              </span>
              <!-- Children -->
              <span ng-show="q.answers" ng-click="q.showKids = !q.showKids">
                <i class="fa fa-fw fa-plus-square" ng-show="!q.showKids"></i>
                <i class="fa fa-fw fa-minus-square" ng-hide="!q.showKids"></i>
              </span>
              <!-- Dummy Icon for design -->
              <span ng-hide="q.answers"><i class="fa fa-fw fa-square icon-invisible"></i></span>
              <!-- Edit Icon -->
              <span ng-show="q.state.id == 1"><a ng-click="editEl(q)" title="Edit Question..."><i class="fa fa-fw fa-pencil"></i></a></span>
              <!-- Successor Icon -->
              <span ng-show="q.state.id != 1 && q.SuccID == null">
                <a ng-click="createsuccessor(q)" title="Create Successor...">
                  <i class="fa fa-fw fa-share"></i>
                </a>
              </span>
            </td>
            <!-- ID -->
            <td><small>{{q['ID']}}</small></td>
            <!-- Topic -->
            <td style="width: 100px;">
              <div class="popover-wrapper">
                <a style="white-space: nowrap;" onbeforesave="saveEl(q, $data, 'u_question_tc')" onshow="getTopics()" edit-disabled="q.state.id != 1"
                e-ng-options="t.id as t.name for t in topics" editable-select="q['TopicID']">{{q['Topic'] || "empty"}}</a>
              </div>
            </td>
            <!-- Question -->
            <td><small>{{filterHTMLTags(q['Question'])}}</small></td>
            <td class="visible-lg"><small>{{q['Owner']}}</small></td>
            <td class="visible-lg visible-md"><small>{{q['Language']}}</small></td>
            <td style="width: 50px; text-align: center;">{{q['Version']}}</td>
            <td class="visible-lg">{{q['ExtID']}}</td>
            <td><small>{{q['Type']}}</small></td>
            <!-- StateMachine Popover -->
            <td>
              <button uib-popover-template="'popoverStatemachine.html'" popover-trigger="focus" ng-disabled="q['state'].id == 4"
                type="button" class="btn btn-default btn-sm">{{q['state'].name}}</button>
            </td>
          </tr>
          <tr ng-hide="!q.showKids">
            <td colspan="10" style="padding:0; background-color: #ddd; border: 1px solid #ccc;">
              <table class="table table-condensed" style="font-size: .85em; margin:0;">
                <thead>
                  <tr style="font-size: .9em;">
                    <th style="width:95px;">&nbsp;</th>
                    <th style="width:95px;">ID</th>
                    <th style="width:75%;">Answer</th>
                    <th>Correct</th>
                  </tr>
                </thead>
                <tr
                  ng-repeat="an in q.answers"
                  ng-class="{'text-danger': !an.correct, 'text-success': an.correct}">
                    <td class="tablemenu">
                      <!-- Edit Icon -->
                      <span ng-show="q.state.id == 1">
                        <a ng-click="editEl(an)" title="Edit Answer...">
                          <i class="fa fa-fw fa-pencil"></i>
                        </a>
                      </span>
                    </td>
                  <td>{{an.ID}}</td>
                  <td>{{filterHTMLTags(an.answer)}}</td>
                  <td style="color:#000;">
                    <a href="#" editable-checkbox="an.correct" edit-disabled="q.state.id != 1" buttons="no"
                    e-title="Tick if answer is correct" 
                    onbeforesave="saveEl(an, $data, 'u_answer_c')">{{an.correct && "✓ Yes" || "✕ No" }}</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>