<!-- Template Modal "Footer" -->
<script type="text/ng-template" id="modalFooter.html">
  <div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
  </div>
</script>

<!-- Template Modal "Create Topic" -->
<script type="text/ng-template" id="modalNewTopic.html">
  <div class="modal-header">
    <h3 class="modal-title">Topic</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Topic Properties</legend>
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Topicname" ng-model="object.data.name"/>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Create Syllabus" -->
<script type="text/ng-template" id="modalSyllabus.html">
  <div class="modal-header">
    <h3 class="modal-title">Syllabus</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Syllabus Properties</legend>
        <!-- Name / Topic -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-4">
            <input ng-model="object.data.Name" class="form-control" type="text" />
          </div>
          <label class="col-sm-2 control-label">Topic</label>
          <div class="col-sm-4">
            <select class="form-control"
              ng-options="t.name for t in topics"
              ng-init="getActTopicSyllab()"
              ng-model="object.data.ngTopic"></select>
          </div>
        </div>
        <!-- Valid from / Valid to -->
        <div class="form-group">
          <!-- FROM -->
          <label class="col-sm-2 control-label">Valid from</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="object.data.From" uib-datepicker-popup="{{format}}"
              is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
              close-text="Close" alt-input-formats="altInputFormats" aria-describedby="basic-addon2" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="basic-addon2" type="button" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                </button>
              </span>
            </div>
          </div>
          <!-- TO -->
          <label class="col-sm-2 control-label">Valid to</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="object.data.To" uib-datepicker-popup="{{format}}"
              is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
              close-text="Close" alt-input-formats="altInputFormats" aria-describedby="basic-addon2" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="basic-addon2" type="button" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                </button>
              </span>
            </div>
          </div>
        </div>
        <!-- Language -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Language</label>
          <div class="col-sm-4">
            <select class="form-control"
              ng-options="l.language for l in languages"
              ng-init="object.data.ngLang = languages[0]"
              ng-model="object.data.ngLang"></select>
          </div>
        </div>
        <!-- Owner / Version -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Owner</label>
          <div class="col-sm-4">
            <select class="form-control"
              ng-options="u.lastname for u in users"
              ng-init="object.data.ngOwner = users[0]"
              ng-model="object.data.ngOwner"></select>
          </div>
          <label class="col-sm-2 control-label">Version</label>
          <div class="col-sm-4">
            <input ng-model="object.data.Version" class="form-control" type="text" disabled/>
          </div>
        </div>
        <!-- Description -->
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Create Question" -->
<script type="text/ng-template" id="modalNewQuestion.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new Question</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create question</legend>
        <label class="control-label">Question text</label>
        <input ng-model="object.data.question" placeholder="What is the answer to the universe and everything?" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control" ng-options="item as item.name for item in items track by item.id" ng-model="object.data.topic"></select>
        <label class="control-label">Author</label>
        <input ng-model="object.data.author" placeholder="Max Mustermann" class="form-control" type="text" />
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Edit Question" -->
<script type="text/ng-template" id="modalEditQuestion.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit question</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit question</legend>
        <label class="control-label">Question</label>
        <input ng-model="object.data.name" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control"
        ng-options="t.name for t in topics"
        ng-init="getActTopicQuestion()"
        ng-model="object.data.ngTopic"></select>
        <label class="control-label">Author</label>
        <input ng-model="object.data.owner" class="form-control" type="text" />
        <label class="control-label">Language</label>
        <input ng-model="object.data.lang" class="form-control" type="text" />
        <label class="control-label">External ID</label>
        <input ng-model="object.data.extid" class="form-control" type="text" />
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Create Answer" -->
<script type="text/ng-template" id="modalNewAnswer.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new Answer</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create answer</legend>
        <label>Answertext</label>
        <input type="text" class="form-control" placeholder="Answer is 42" ng-model="object.data.answer" autofocus/>
        <label><input type="checkbox" class="form-control" ng-model="object.data.correct"/>Correct</label>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Create Syllabus Element" -->
<script type="text/ng-template" id="modalNewSyllabusElement.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new Syllabuselement</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create Syllabuselement</legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">Element Name</label>
          <div class="col-sm-4">
            <input ng-model="object.data.name" placeholder="Syllabuselementname" class="form-control" type="text" />
          </div>
          <label class="col-sm-2 control-label">Order</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.element_order" placeholder="1" type="text" />
          </div>
        </div>        
        <div class="form-group">
          <label class="col-sm-2 control-label">Parent Syllabus</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.parentID" placeholder="105" type="text" />
          </div>
          <label class="col-sm-2 control-label">Severity</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.severity" min="0" max="100" placeholder="42" type="number" />
          </div>
        </div>        
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template Modal "Edit Syllabus Element" -->
<script type="text/ng-template" id="modalEditSyllabusElement.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit syllabuselement</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit Syllabuselement</legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">Elementname</label>
          <div class="col-sm-4">
            <input ng-model="object.data.name" placeholder="Syllabuselementname" class="form-control" type="text" />
          </div>
          <label class="col-sm-2 control-label">Order</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.element_order" placeholder="1" type="text" />
          </div>
        </div>        
        <div class="form-group">
          <label class="col-sm-2 control-label">Parent Syllabus</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.parentID" placeholder="105" type="text" disabled/>
          </div>
          <label class="col-sm-2 control-label">Severity</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="object.data.severity" min="0" max="100" placeholder="42" type="number" />
          </div>
        </div>
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- Template: StateMachine Syllabus -->
<script type="text/ng-template" id="popoverStatemachineSyllabus.html">
  <div><b>goto:</b>&nbsp;<div ng-repeat="state in actSyllabus.availableOptions">
      <button type="button" style="margin-bottom: 3px;" ng-click="setstate('update_syllabus_state', state.id)" class="btn btn-default btn-xs">{{state.name}}</button>
    </div>
  </div>
</script>

<!-- Template: StateMachine Question -->
<script type="text/ng-template" id="popoverStatemachineQuestion.html">
  <div><b>goto:</b>&nbsp;<span ng-repeat="state in actQuestion.availableOptions">
      <button type="button" ng-click="setstate('update_question_state', state.id)" class="btn btn-default btn-sm">{{state.name}}</button>
    </span>
  </div>
</script>