<!-- MODAL FOOTER -->
<script type="text/ng-template" id="modalFooter.html">
  <div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button><!-- Der Button heißt nicht OK sondern Save so weit ich sehe. Ich traue mich noch nicht das zu verändern -->
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
  </div>
</script>

<!-- MODAL FOOTER [Save and New] [Save] [Cancel]-->
<script type="text/ng-template" id="modalFooterSaveAndNew.html">
  <div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="okandnew()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & New</button>
    <button class="btn btn-success" type="button" ng-click="ok()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
  </div>
</script>

<!-- MODAL FOOTER EXPORT-->
<script type="text/ng-template" id="modalFooterExport.html">
  <div class="modal-footer">
	
	<button class="btn btn-default glyphicon glyphicon-copy" type="button" onClick="selectAll()"><i class="" aria-hidden="true"></i> Copy</button> <!-- TODO: Copy picture-->
   <!-- <button class="btn btn-success" type="button" ng-click="export()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Export</button>-->
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
	
  </div>
</script>

<!-- MODAL FOOTER EXPORT QUESTION-->
<script type="text/ng-template" id="modalFooterExport2.html">
  <div class="modal-footer">
	
    <button class="btn btn-success" uib-popover-template="'exportStatemachine.html'" popover-trigger="focus"
                type="button" class="btn btn-default btn-sm" ng-disabled="(myDropDown == 'Single')"><i class="fa fa-floppy-o" aria-hidden="true"></i> Export</button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
	
  </div>
</script>

<!-- TOPIC -->
<script type="text/ng-template" id="modalNewTopic.html">
  <div class="modal-header">
    <h3 class="modal-title">Topic</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Topic Properties</legend>
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Topicname" ng-model="object.data.name"/>
      </fieldset>
    </form>
  </div>
  <ng-include src="'modalFooter.html'"></ng-include>
</script>

<!-- STATE MACHINE -->
<script type="text/ng-template" id="popoverStatemachine.html">
  <div><small>goto state<br/></small>
    <div ng-repeat="state in actSelection.nextstates">
      <button type="button" style="margin-bottom: 3px; width: 100px;"
        ng-click="setstate(state.id, actSelection)"
        ng-class = "['btn', 'btn-sm', {'btn-success': state.id == 1, 'btn-danger': state.id == 4,
          'btn-warning': state.id == 2, 'btn-info': state.id == 3}]">{{state.name}}</button>
    </div>
  </div>
</script>

<!-- EXPORT STATES -->
<script type="text/ng-template" id="exportStatemachine.html">
  <div><small>Export formats:<br/></small>
    
      <button class="btn btn-default" type="button" style="margin-bottom: 3px; width: 100px;"
        ng-click="saveToPc(filteredInput, 'download.json', 0)">JSON</button>
	  <button class="btn btn-default" type="button" style="margin-bottom: 3px; width: 100px;"
        ng-click="saveToPc(filteredInput, 'download.xml', 1)">XML</button>
   
  </div>
</script>

<!-- EXPORT SYLLABUS QUESTIONS MODAL -->
<script type="text/ng-template" id="modalExportQuestions.html">
 <div class="modal-header">
    <h3 class="modal-title">Vorschau / Export</h3>
  </div>
  
  <div class="modal-body">  
    <form class="form-horizontal">
      <fieldset>
        <legend>Question Selection</legend>

		<div class="form-group">
		<div class="col-sm-4">
            
	<select ng-model="myDropDown" class="form-control">
          <option value="Single">Single</option>
          <option value="Multi">Multi</option>
    </select>

          </div>
		</div>
		
        <!-- Topic / Language -->
		<div ng-hide="myDropDown == 'Single'">
      <div >
		<div class="form-group">
          <label class="col-sm-2 control-label">Choose Selection from Topics </label>
		  <!-- <div class="col-sm-4">
         <input type="text" ng-model="filtertext_sy" class="form-control pull-right menuitem" style="width:200px;" placeholder="filter"> 
        </div>-->
          <div class="col-sm-2">
            <select class="form-control"
              ng-options="t.name for t in topics"
              ng-init="getActTopic()"
              ng-model="topicModel"
			  >
			  <option value=""></option>
			  </select>
			  
          </div>
		  </div>
		<div class="form-group">
          <label class="col-sm-2 control-label">Language</label>
          <div class="col-sm-2">
            <select class="form-control"
              ng-options="l.language for l in languages"
              ng-init="getActLang()"
              ng-model="languageModel"
			  >
			  <option value=""></option>
			  </select>
			  
          </div>
        </div>
       
        <!-- Type / ExtID -->
        
		<div class="form-group">
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-2">
            <select class="form-control"
              ng-options="qt.name for qt in questypes"
              ng-init="getActQuesType()"
              ng-model="typeModel"
			  >
			  <option value=""></option>
			  </select>
			  
          </div>
        
		</div>
		<!-- State -->
		<div class="form-group">
          <label class="col-sm-2 control-label">State</label>
          <div class="col-sm-2">
            <select class="form-control"
              ng-options="st.name for st in states"
              ng-init="Element.state.name"
              ng-model="stateModel"
			  >
			  <option value=""></option>
			  </select>
			  
          </div>
        
		</div>
	 </div>
		<div>
		
			<!-- Syllabus Questions from Topic selection-->
			<ul class="form-group" style="list-style-type: none" ng-repeat="sq in (filteredInput = (questions| filter:topicModel.name | filter:languageModel.language | filter:typeModel.name | statefilter:stateModel)) track by sq['ID']">
					
					<!-- TODO: Topic and Authors could be put at the top, because in some cases for every element the same. But if you don't filter this could be wrong. -->
				<li>Topic: {{sq['Topic']}}</li>
				<li>Authors: {{actAuthor(sq)}}</li>
				
				<li>ID: <label>{{sq['ID']}}</label></li>
				<li>Author: <label>{{sq['Owner']}}</label></li>
				<li>Language: <label>{{filterHTMLTags(sq['Language'])}}</label></li>
				<li>Question: <label>{{filterHTMLTags(sq['Question'])}}</label></li>
				<li>Type: <label>{{sq['Type']}}</label></li>
				<li>State: <label> {{sq.state.name}}</label></li>
				<li>Answers:
				
				<table class="table table-fixed table-bordered table-striped table-condensed">
				  <thead>
					<tr>
						<th>ID</th>
						<th>Answer</th>
						<th>Correct</th></tr>
				  </thead>
				  <tbody ng-repeat="answer in sq.answers" >
				  
				  <tr> 	
						<td> {{answer.ID}} </td>
						<td> {{filterHTMLTags(answer.answer)}} </td>
						<td> {{filterHTMLTags(answer.correct)}} </td> 
				  </tr>
				  </tbody>
				</table>
				</li>
			</ul>
		</div>
		<!-- Don't erase: Could be used later. <h3>JSON Conversion:</h3>
		<button type="button" onClick="selectJson(1)">Select Json and Copy</button>
		<br>
		
		<fieldset>
		<!-- TODO: There should be an exception handler for the case of incomplete questions or there as to be a rule where incomplete Questions are not accepted and have to be completed first. ->
 		<ul ng-repeat="sl in questions | filter:topicModel.name | filter:languageModel.language | filter:typeModel.name | statefilter:stateModel track by $index" class="list-unstlyed" style="list-style-type: none" style="border: 1px solid black" style="margin: 100px" style="padding: 100px">	
		 <!--li> {{jsonString = (questions | filter:topicModel.name | filter:languageModel.language | filter:typeModel.name | statefilter:stateModel)}} </li->
		<li>{{toJ(sl)}}</li>
		
		</ul> 
		
		</fieldset>
		<h3>XML Conversion:</h3>
		<button type="button" onClick="selectJson(2)">Select XML and Copy</button>
		<fieldset>
		&lt?xml version="1.0" ?&gt;&lt;quiz&gt;
		<!--{{allQuestions | filter:topicModel.name | filter:languageModel.language | filter:typeModel.name}}->
		<ul ng-repeat="sl in questions | filter:topicModel.name | filter:languageModel.language | filter:typeModel.name| statefilter:stateModel track by $index" class="list-unstlyed" style="list-style-type: none" style="border: 1px solid black" style="margin: 100px" style="padding: 100px">	
		 
		 <li>{{xmldata(sl)}}</li>
		
		</ul> 
		&lt;/quiz&gt;
		</fieldset>	-->	
		
		</div>
      </fieldset>
	  
    </form>
  </div>
<div class= "form-Group" ng-hide="myDropDown == 'Multi'">
<div class="modal-body"> 
  <!-- TODO: Add bootstrap for unstyled ul afterwards you can erase style="list-style-type"-->
  <fieldset>
  <ul class="form-group" style="list-style-type: none">
	  
	  
	  <li><label>{{Element['ID']}}</label></li>
	  <li><label><h4>{{filterHTMLTags(Element['Question'])}}</h4></label></li>
	  <li>Status: <label>{{Element['state'].name}}</label></li>
	  <li>State: <label>{{Element['Type']}}</label></li>
	  <li>Autor/Owner: <label>{{Element['Owner']}}</label></li>
	  <li><i>Team: <label>{{actAuthor(Element)}}</label></i></li>
	  <li>Version: <label>{{Element['Version']}}</label></li>
	 <!-- <li><i>Grafik oder Tabelle: <label> Nicht in der Testdatenbank vorhanden.</label></i></li>-->
	  <li>
		  <table class="table table-bordered table-striped table-condensed">
			  <thead>
				<tr>
					<th>ID</th>
					<th>Answer</th>
					<th>Correct</th></tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="an in Element.answers">
					<td>{{an.ID}}</td>
					<td>{{filterHTMLTags(an.answer)}}</td><!-- Filter HTML Tags-->
					<td>{{an.correct}}</td>
				</tr>
			  </tbody>
		  </table>
	  </li>
	  
  </ul>
</fieldset>
  <br> 
  
  
  </div>
  <form>
  <div class="container">
  <button class="btn btn-default glyphicon glyphicon-copy" type="button" ng-click="saveToPc(Element, 'download.json', '02')"> Export Json</button>
  </div>
  <br>
  <div class="container">
      <label class="col-sm-2 control-label">Json Version</label>

   <fieldset>
  {{toJ(Element)}}
   </fieldset>
  <br>
 </div>
 <div class="container">
  <button class="btn btn-default glyphicon glyphicon-copy" type="button" ng-click="saveToPc(Element, 'download.xml', '12')"> Export XML</button>
  </div>
  <br>
 <div class="container">
  <label class="col-sm-2 control-label">XML Version</label>
 
	<fieldset>
		&lt?xml version="1.0" ?&gt;&lt;quiz&gt;
  {{xmldata(Element)}}
		&lt;/quiz&gt;
	</fieldset>	
	</div>
   </form>
  </div>
  <ng-include src="'modalFooterExport2.html'"></ng-include>
</script> 

<!-- EXPORT SYLLABUS MODAL -->
<script type="text/ng-template" id="modalExportSyllabus.html">
 <div class="modal-header">
    <h3 class="modal-title">Vorschau / Export</h3>
  </div>
  
  <div class="modal-body"> 

  <fieldset>  
  <ul class="form-group" style="list-style-type: none">
	  
	  <li><label><h4>{{Element['ID']}}</h4></label></li>
	  <li><i><label>{{Element['Description']}}</label></i></li>
	  <li>Status: <label>{{Element['state'].name}}</label></li>
	  <li>Version: <label>{{Element['Version']}}</label></li>
	  <li>Autor/Owner: <label>{{Element['Owner']}}</label></li>
	  <li><i>Team: <label>{{actAuthor(Element)}}</label></i></li>
	  <li>Gültig ab: 	<label>{{Element['From'] | date:'yyyy-MM-dd'}}</label></li>
	  <li>Gültig bis:	<label>{{Element['To'] | date:'yyyy-MM-dd'}}</label></li>
	  <li>Description: <label>{{filterHTMLTags(Element['description'])}}</label></li>
	  <li>
		  <table style="border: 1px solid black" border="1"><!--  class="table table-striped table-condensed" add -->
			  <thead >
				<tr>
					<th>Thema</th>
					<th>%</th>
					<th>Details</th></tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="se in Element.syllabuselements">
					<td>{{se.name}}</td>
					<td>{{se.severity}}%</td>
					<td>{{filterHTMLTags(se.description)}}</td>
				</tr>
			  </tbody>
		  </table>
	  </li>

  </ul>
</fieldset>
  <br>
  
  </div>
  <ng-include src="'modalFooterExport.html'"></ng-include>
</script> 

<!--TODO: Convert to Angular if possible, no alternative for Angular found yet.-->
<!-- Used in Syllabus Elements Footer Copy Button -->
<script>
  function selectAll(){
    var e = document.getElementsByTagName('FIELDSET')[0]; <!-- Watch out: If you create a second <fieldset> tag you have to increment [0] or the wrong place is marked.-->
    var r = document.createRange();
    r.selectNodeContents(e);
    var s = window.getSelection();
    s.removeAllRanges();
    s.addRange(r);
    document.execCommand("copy");
  }
</script>
