<!-- Template Modal "Create Topic" -->
<script type="text/ng-template" id="modalNewTopic.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new topic</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create syllabus</legend>
        <label>Topic name</label>
        <input type="text" class="form-control" placeholder="Topicname" ng-model="object.data.name"/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Create Syllabus" -->
<script type="text/ng-template" id="modalNewSyllabus.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new syllabus</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create syllabus</legend>
        <label class="control-label">Syllabus name</label>
        <input ng-model="object.data.name" placeholder="Syllabusname" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control" ng-options="item as item.name for item in items track by item.id" ng-model="object.data.topic"></select>
        <label class="control-label">Owner</label>
        <input ng-model="object.data.owner" placeholder="Max Mustermann" class="form-control" type="text" />
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Edit Syllabus" -->
<script type="text/ng-template" id="modalEditSyllabus.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit syllabus</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit syllabus</legend>
        <label class="control-label">Syllabus name</label>
        <input ng-model="object.data.name" placeholder="Syllabusname" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control" ng-options="item as item.name for item in items track by item.id" ng-model="object.data.topic"></select>
        <label class="control-label">Owner</label>
        <input ng-model="object.data.owner" placeholder="Max Mustermann" class="form-control" type="text" />
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Create Question" -->
<script type="text/ng-template" id="modalNewQuestion.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new Question</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create question</legend>
        <label class="control-label">Question text</label>
        <input ng-model="object.data.question" placeholder="What is the answer to the universe and everything?" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control" ng-options="item as item.name for item in items track by item.id" ng-model="object.data.topic"></select>
        <label class="control-label">Author</label>
        <input ng-model="object.data.author" placeholder="Max Mustermann" class="form-control" type="text" />
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Edit Question" -->
<script type="text/ng-template" id="modalEditQuestion.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit question</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit question</legend>
        <label class="control-label">Question</label>
        <input ng-model="object.data.name" class="form-control" type="text" />
        <label class="control-label">Topic</label>
        <select class="form-control" ng-options="item as item.name for item in items track by item.id" ng-model="object.data.topic"></select>
        <label class="control-label">Author</label>
        <input ng-model="object.data.owner" class="form-control" type="text" />
        <label class="control-label">Language</label>
        <input ng-model="object.data.lang" class="form-control" type="text" />
        <label class="control-label">External ID</label>
        <input ng-model="object.data.extid" class="form-control" type="text" />
        <label class="control-label">Version</label>
        <input placeholder="1" class="form-control" type="text" disabled/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Create Answer" -->
<script type="text/ng-template" id="modalNewAnswer.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new Answer</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create answer</legend>
        <label>Answertext</label>
        <input type="text" class="form-control" placeholder="Answer is 42" ng-model="object.data.answer"/>
        <label>Correct?</label>
        <input type="text" class="form-control" placeholder="Answer is 42" ng-model="object.data.correct"/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Create Syllabus Element" -->
<script type="text/ng-template" id="modalNewSyllabusElement.html">
  <div class="modal-header">
    <h3 class="modal-title">Create new syllabuselement</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create syllabuselement</legend>
        <label class="control-label">Parent Syllabus</label>
        <input class="form-control" ng-model="object.data.parentID" placeholder="105" type="text" />
        <label class="control-label">Order</label>
        <input class="form-control" ng-model="object.data.element_order" placeholder="1" type="text" />
        <label class="control-label">Severity</label>
        <input class="form-control" ng-model="object.data.severity" placeholder="105" type="text" />
        <label class="control-label">Syllabus-Element name</label>
        <input ng-model="object.data.name" placeholder="Syllabuselementname" class="form-control" type="text" />
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template Modal "Edit Syllabus Element" -->
<script type="text/ng-template" id="modalEditSyllabusElement.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit syllabuselement</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit syllabuselement</legend>
        <label class="control-label">Order</label>
        <input class="form-control" ng-model="object.data.element_order" placeholder="1" type="text" />
        <label class="control-label">Severity</label>
        <input class="form-control" ng-model="object.data.severity" placeholder="23" type="text" />
        <label class="control-label">Syllabus-Element name</label>
        <input ng-model="object.data.name" placeholder="Syllabuselementname" class="form-control" type="text" />
        <label class="control-label">Description</label>
        <textarea data-ui-tinymce ng-model="object.data.description"></textarea>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- Template: StateMachine Syllabus -->
<script type="text/ng-template" id="popoverStatemachineSyllabus.html">
  <div><b>goto:</b>&nbsp;<span ng-repeat="state in actSyllabus.availableOptions">
      <button type="button" ng-click="setstate('update_syllabus_state', state.id)" class="btn btn-default btn-sm">{{state.name}}</button>
    </span>
  </div>
</script>

<!-- Template: StateMachine Question -->
<script type="text/ng-template" id="popoverStatemachineQuestion.html">
  <div><b>goto:</b>&nbsp;<span ng-repeat="state in actQuestion.availableOptions">
      <button type="button" ng-click="setstate('update_question_state', state.id)" class="btn btn-default btn-sm">{{state.name}}</button>
    </span>
  </div>
</script>